body{
    background-color:aliceblue;
}

table {
    margin: 1px;
    border-spacing: 0px;
    outline-width: 1px;
    outline-style: solid;
    outline-color: rgb(30, 184, 255);
    border: 5px outset; 
    /* box-shadow: inset -5px -5px #888; */
    font-family:'Times New Roman', Times, serif;

}

td, tr, th {
    /* padding: 5px; */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(30, 184, 255);
}

th {
    background-color: rgb(0, 68, 0);
    color: rgb(217, 255, 215);
    padding: 5px;
}

tr:nth-child(even) {
    background-color: rgb(217, 255, 215);
}
tr:nth-child(odd){
    background-color: rgb(152, 201, 152);
}

td {
    padding-right: 20px;
}
